<template>
    <svg fill="none" stroke="currentColor" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4"></path>
    </svg>
</template>

<script>
export default {
    name: "Minus",
};
</script>

<style scoped></style>
