<template>
    <h2>Answers overview</h2>
    <div class="tip">Here you can see and change your answers</div>
    <GroupOverviewBlock v-for="(group, index) in groups" :key="index" :group="group" :answers="answers[index]" />
</template>

<script>
import { computed } from "@vue/reactivity";
import { inject } from "vue";
import GroupOverviewBlock from "../components/GroupOverviewBlock.vue";
import { getAnswers } from "../api/suitabilityTest";

export default {
    name: "Overview",
    components: { GroupOverviewBlock },
    setup() {
        const answers = computed(() => getAnswers());
        const groups = inject("groups");

        return {
            answers,
            groups,
        };
    },
};
</script>

<style scoped>
.tip {
    margin-top: 15px;
    margin-bottom: 35px;
}
</style>
