<template>
    <div class="container">
        <h3>{{ question ? question.question : null }}</h3>
        <form :onsubmit="handleSubmit" v-if="question">
            <RadioButton v-for="(answer, index) in question.answers" :key="index" :answer="answer" :index="index" v-model="checkedAnswer" />
            <div class="error" v-if="error">Please provide answer</div>
            <SubmitButton />
        </form>
        <div class="backLink">
            <span @click="goBack()">Previous question</span>
        </div>
    </div>
</template>

<script>
import { ref, watch, onMounted } from "vue";
import { inject } from "vue";
import RadioButton from "../components/RadioButton.vue";
import SubmitButton from "../components/SubmitButton.vue";
import colors from "../config/colors";
import { nextQuestion, previousQuestion } from "../router/navigation";
import { sendAnswers, getAnswers } from "../api/suitabilityTest";

export default {
    name: "Question",
    components: {
        RadioButton,
        SubmitButton,
    },

    setup() {
        const questionId = inject("questionId");
        const currentGroupId = inject("currentGroupId");
        const question = inject("question");
        const checkedAnswer = ref(null);
        const error = ref(false);

        const uploadAnswers = () => {
            const answers = getAnswers();
            if (answers && currentGroupId.value !== null && questionId.value !== null) {
                checkedAnswer.value = answers[currentGroupId.value][questionId.value];
            }
        };

        onMounted(uploadAnswers);

        watch([questionId, currentGroupId], uploadAnswers);

        const handleSubmit = (e) => {
            e.preventDefault();
            if (checkedAnswer.value !== null) {
                error.value = false;
                const answers = getAnswers();
                answers[currentGroupId.value][questionId.value] = Number.parseInt(checkedAnswer.value);
                sendAnswers(answers);

                checkedAnswer.value = null;
                e.target.reset();
                nextQuestion();
            } else {
                error.value = true;
            }
        };

        const goBack = () => {
            error.value = false;
            previousQuestion();
        };

        return {
            checkedAnswer,
            handleSubmit,
            colors,
            error,
            goBack,
            question,
        };
    },
};
</script>

<style scoped>
.container {
    margin-top: 30px;
}
.backLink {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: v-bind("colors.darkBlue");
    cursor: pointer;
    text-decoration: underline;
}
.error {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: v-bind("colors.lightPink");
    border: 1px solid v-bind("colors.red");
    border-radius: 5px;
    height: 40px;
    font-size: 15px;
}
</style>
