<template>
    <div class="linesBlock">
        <CompletedLine
            v-for="(line, index) in groupsNumber"
            :key="index"
            :done="getDone(index)"
            :last="index === groupsNumber - 1"
            :current="currentGroupId === index"
        />
    </div>
    <div class="info" v-if="path !== '/overview'">
        <div :style="{ fontWeight: 'bold' }">{{ title }}</div>
        <div :style="{ color: 'grey' }">{{ done }}% completed</div>
    </div>
</template>

<script>
import { computed } from "@vue/reactivity";
import { useRoute } from "vue-router";
import CompletedLine from "./CompletedLine.vue";
import { inject } from "vue";
export default {
    name: "CompletedLinesBlock",
    components: {
        CompletedLine,
    },
    props: {
        currentGroupId: Number,
        questionId: Number,
        done: Number,
        title: String,
    },
    setup(props) {
        const route = useRoute();
        const path = computed(() => route.path);
        const groups = inject("groups");
        const groupsNumber = computed(() => {
            if (groups.value.length > 0) return groups.value.length;
            return 0;
        });
        const getDone = (index) => {
            const numberOfQuestions = groups.value[index].questions.length;
            let done = 0;
            if (index === 0 && props.currentGroupId === index) {
                done = ((props.questionId + 1) / numberOfQuestions) * 100;
                return done;
            }
            if (props.currentGroupId > index) {
                return 100;
            }
            if (index > 0 && props.currentGroupId === index) {
                done = ((props.questionId + 1) / numberOfQuestions) * 100;
                return done;
            }
            return 0;
        };

        return {
            groupsNumber,
            getDone,
            path,
        };
    },
};
</script>

<style scoped>
.linesBlock {
    display: flex;
    justify-content: space-between;
}
.info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
</style>
