<template>
    <div class="container" :class="{ last: last }">
        <div class="background" :class="{ currentLine: current }"></div>
        <div class="done" :style="{ width: done + '%' }"></div>
    </div>
</template>

<script>
import colors from "../config/colors";
export default {
    name: "CompletedLine",
    props: {
        done: Number,
        last: Boolean,
        current: Boolean,
    },
    setup(props) {
        return {
            colors,
            currentLine: props.current,
        };
    },
};
</script>

<style scoped>
.container {
    width: 100%;
    margin-right: 10px;
}
.last {
    margin-right: 0;
}
.background {
    position: relative;
    background-color: v-bind("colors.grey");
    height: 5px;
}
.currentLine {
    background-color: v-bind("colors.lightGreen");
}
.done {
    position: relative;
    top: -5px;
    background-color: v-bind("colors.green");
    height: 5px;
}
</style>
