<template>
    <div class="container">
        <div class="top">
            <div>{{ group.title }}</div>
            <ShowLessMoreButton @toggle="toggle" />
        </div>

        <div v-if="mode === 'opened'" class="bottom">
            <OverviewResult v-for="(question, index) in group.questions" :key="index" :question="question" :answer="answers[index]" />
        </div>
    </div>
</template>

<script>
import colors from "../config/colors";
import ShowLessMoreButton from "../components/ShowLessMoreButton.vue";
import OverviewResult from "../components/OverviewResult.vue";
import { ref } from "@vue/reactivity";

export default {
    name: "GroupOverviewBlock",
    components: { ShowLessMoreButton, OverviewResult },
    props: {
        group: Object,
        answers: Array,
    },

    setup() {
        const mode = ref("closed");
        const toggle = (newMode) => {
            mode.value = newMode;
        };

        return {
            colors,
            toggle,
            mode,
        };
    },
};
</script>

<style scoped>
.container {
    border-bottom: 1px solid v-bind("colors.grey");
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.bottom {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
</style>
