<template>
    <div class="OverviewResultContainer">
        <div class="title">{{ question.question }}</div>
        <div class="answer">{{ question.answers[answer] }}</div>
    </div>
</template>

<script>
export default {
    name: "OverviewResult",
    props: {
        question: Object,
        answer: Number,
    },
};
</script>

<style scoped>
.OverviewResultContainer {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
}
.title {
    font-weight: bold;
    line-height: 180%;
}
.answer {
    margin-top: 10px;
    color: gray;
}
</style>
