<template>
    <label class="container">
        <input
            type="radio"
            id="radio_button"
            name="question"
            :checked="index === modelValue ? true : false"
            :value="index"
            :v-model="modelValue"
            @input="$emit('update:modelValue', Number.parseInt($event.target.value))"
        />
        <span class="checkmark"></span>
        <div :style="{ marginLeft: '10px' }">{{ answer }}</div>
    </label>
</template>

<script>
export default {
    name: "RadioButton",
    props: {
        answer: String,
        index: Number,
        modelValue: Number,
    },
};
</script>

<style scoped>
/* The container */
.container {
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    margin: 0;
    position: relative;
    visibility: hidden;
    cursor: pointer;
    width: 0px;
    height: 0px;
}

/* Create a custom radio button */
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
    min-width: 26px;
    background-color: #eee;
    border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: rgb(81, 83, 219);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: relative;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: white;
}
</style>
