<template>
    <div class="containerButton" @click="toggle()">
        <div class="button" v-if="mode === 'closed'">
            <Plus />
            Show more
        </div>
        <div class="button" v-if="mode === 'opened'">
            <Minus />
            Show less
        </div>
    </div>
</template>

<script>
import colors from "../config/colors";
import Plus from "../icons/Plus.vue";
import Minus from "../icons/Minus.vue";
import { ref } from "@vue/reactivity";

export default {
    name: "ShowLessMoreButton",
    components: { Plus, Minus },
    props: {
        group: Object,
    },

    setup(props, ctx) {
        const mode = ref("closed");

        const toggle = () => {
            if (mode.value === "closed") {
                mode.value = "opened";
                ctx.emit("toggle", mode.value);
                return;
            }
            if (mode.value === "opened") {
                mode.value = "closed";
                ctx.emit("toggle", mode.value);
                return;
            }
        };

        return {
            colors,
            toggle,
            mode,
        };
    },
};
</script>

<style scoped>
.containerButton {
    color: v-bind("colors.darkBlue");
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
