<template>
    <div class="buttonContainer">
        <button type="submit" class="submitButton">Next question</button>
    </div>
</template>

<script>
import colors from "../config/colors";
export default {
    name: "SubmitButton",
    setup() {
        return {
            colors,
        };
    },
};
</script>

<style scoped>
.buttonContainer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.submitButton {
    width: 100%;
    height: 50px;
    color: white;
    background-color: v-bind("colors.blue");
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.submitButton:active {
    background-color: v-bind("colors.darkBlue");
}
</style>
