<template>
    <div class="test">
        <h1>Suitability Test</h1>
        <CompletedLinesBlock :currentGroupId="currentGroupId" :questionId="questionId" :done="done" :title="title" />
        <router-view />
    </div>
</template>

<script>
import { ref, computed } from "@vue/reactivity";
import { useRoute } from "vue-router";
import { provide } from "vue";
import { getAllQuizGroups } from "./api/suitabilityTest";
import CompletedLinesBlock from "./components/CompletedLinesBlock.vue";

export default {
    name: "App",
    components: { CompletedLinesBlock },
    setup() {
        const groups = ref([]);
        provide("groups", groups);
        getAllQuizGroups().then((x) => (groups.value = x));

        const route = useRoute();
        const groupsNumber = computed(() => {
            if (groups.value.length > 0) return groups.value.length;
            return 0;
        });

        const currentGroupId = computed(() => {
            if (route.params.currentGroupId) {
                return Number.parseInt(route.params.currentGroupId) - 1;
            }
            //return max group number in case route = "/overview"
            return groups.value.length - 1;
        });
        provide("currentGroupId", currentGroupId);

        const questionId = computed(() => {
            if (route.params.question_id) {
                return Number.parseInt(route.params.question_id) - 1;
            }
            //return max question_id in case route = "/overview"
            if (groups.value.length > 0) {
                const topGroup = groups.value.length - 1;
                const topQuestion = groups.value[topGroup].questions.length - 1;
                return topQuestion;
            }
            //temporary value
            return 1;
        });
        provide("questionId", questionId);

        const group = computed(() => {
            if (groupsNumber.value > 0 && currentGroupId.value >= 0) return groups.value[currentGroupId.value];
            return null;
        });

        const title = computed(() => {
            if (group.value) return group.value.title;
            return null;
        });

        const question = computed(() => {
            if (group.value && questionId.value >= 0) {
                return group.value.questions[questionId.value];
            }
            return null;
        });
        provide("question", question);

        const totalNumber = computed(() => {
            let totalNumber = 0;
            for (let i = 0; i < groups.value.length; i++) {
                const group = groups.value[i];
                totalNumber = totalNumber + group.questions.length;
            }
            return totalNumber;
        });

        const currentQuestion = computed(() => {
            let currentQuestion = 0;
            for (let k = 0; k <= currentGroupId.value; k++) {
                const group = groups.value[k];
                if (group) {
                    if (k < currentGroupId.value) {
                        currentQuestion = currentQuestion + group.questions.length;
                    }
                    if (k === currentGroupId.value) {
                        currentQuestion = currentQuestion + questionId.value + 1;
                    }
                }
            }
            return currentQuestion;
        });

        const done = computed(() => {
            if (currentQuestion.value && totalNumber.value) {
                const done = Math.round((currentQuestion.value / totalNumber.value) * 100);
                return done;
            }
            return null;
        });

        return {
            questionId,
            currentGroupId,
            title,
            done,
        };
    },
};
</script>

<style>
#app {
    margin: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
}
.test {
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 600px) {
    .test {
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }
}
@media only screen and (min-width: 600px) {
    .test {
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    .test {
        width: 80%;
    }
}
@media only screen and (min-width: 992px) {
    .test {
        width: 65%;
    }
}
@media only screen and (min-width: 1200px) {
    .test {
        width: 50%;
    }
}
</style>
